.App {
  font-family: sans-serif;
  text-align: center;
}

.img-container {
  background-color: rgb(36, 195, 201);
  width: 15rem;
  /* height: auto; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  margin: 10rem auto;
  text-align: center;
}
.img {
  max-width: 10rem;
  border-radius: 10px;
}
input {
  margin: 0rem 0rem 1rem 5rem;
}
